<launch>

<group ns="rosbag">
    <node pkg="rosbag" type="play" name="replay" args="--clock -l /home/thomas/Documenti/MasterThesis/bagfiles/marker_calibration/marker_ir_test.bag"/>
</group>

<group ns="marker_finder">
    <node pkg="marker_finder" type="node" name="finder" output="screen"/>
</group>

</launch>